<nav class="navbar navbar-light bg-white d-flex justify-content-between  border border-end-0 border-2">    
  <div class="p-2">
    <a class="navbar-brand" href="https://prometeoapi.com/">
      <img src='https://cdn.prometeoapi.com/static/img/primary%402x.png' width='150' alt='Prometeo'>
    </a>
  </div>
  <div class="p-2" *ngIf="isActive else unlogged">
    <em class="bi bi-emoji-smile" style='font-size: 1.5rem'>
      {{userName}}
    </em>
  </div>

  <ng-template #unlogged>
    <em>
      <button class="btn btn-outline-danger positionUnlogged" type="submit" [routerLink]="['/inicia-sesion']">Login</button>
    </em>
  </ng-template>
  
</nav>

   