<app-header></app-header>
<div class="fluid-container py-5">
  <div class="container">
    <div class="row gx-5">
      <div class="col">
        <h1 class="py-5 mb-5 ml-5">Encendemos futuro</h1>
        <p class="">Somos la plataforma de Open Banking mas grande de Latinoamérica. <br>Brindamos un único punto de acceso a 101 conexiones bancarias <br>en 10 países de la región. </p>
      </div>
      <div class="col">
        <img class="w-100" src="../../../assets/images/prometoimg.png" alt="prometeo">
      </div>
    </div>  
  </div>
</div>